
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
    "width" 100 ;
  }

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    margin: 20px 180px;
}
.Sign-In{
    border-color: green;
    color: green;
    padding: 10px 15px;
    border-radius: 8px;
}
.Sign-In:hover{
    background-color: rgb(238, 161, 161);
}

nav ul li{
    list-style: none;
}
.green{
    color: green;
}
.btn-primary{
    
    padding: 15px 25px;
    border-radius: 5px;
    background-color: green;
    color: white;
    }
    .btn-primary:hover{
        background-color: rgb(48, 145, 145);
    }

    .btn-card1{
        padding: 10px 15px;
        border-radius: 8px;
        background-color: rgba(0, 0, 255, 0.514);
        color: white;
    }
    .btn-card1:hover{
        background-color: aqua;
    }
    .btn-card2{
        padding: 10px 15px;
        border-radius: 8px;
        background-color: rgba(0, 128, 0, 0.582);
        color: white;
    }
    .btn-card2:hover{
        background-color: aqua;
    }
    .btn-card3{
        padding: 10px 15px;
        border-radius: 8px;
        background-color: rgba(255, 166, 0, 0.856);
        color: white;

    }
    .btn-card3:hover{
        background-color: aqua;
    }

    .btn-card4{
        padding: 10px 15px;
        border-radius: 8px;
        background-color: rgba(4, 128, 0, 0.932);
        color: white;
    }
.btn-card4:hover{
    background-color: rgb(197, 204, 106);
}

.section-title{
    font-size:40px;
    font-weight: bold;
    color: #0E0E0E;
}

/* banner styles */

.banner{
    background-color: #C6E4D6;
    /* background-size: 1280px;  */
    border-radius: 20px;
    display: flex; 
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px;
   
}

    /* max-width: 1200px; */


.banner-greetings{
    color: #0e0e0e80;
    }

.profile-pic{
height: 400px;
    width:400px;
}

.banner-headline{
    font-size: 50px;
}

/*---about styles -----*/

.about{
     margin-inline-start: 130px;
     margin-inline-end: 130px;
}

/*-----section title----*/

.section-title{
    margin: 50px;
}
.section-description{
    margin: 0px 50px;
}
/* --- main styles ---*/

.main{
    max-width: 1240px;
    margin: 0 auto;
}

/*  skills section style */

.skill-container{
    display: flex;
    }

.skill{
    margin: 50px;
    width: 300px;
    padding: 24px;
    box-shadow: 0px 6px 20px 0px burlywood;
    border-radius: 10px;
    
}
.card1{
    background-color: #548ff544;
}
.card2{
    background-color: #09a15d27;
}
.card3{
    background-color: #ffc43941;
}


.quote{
    background-color: rgba(94, 207, 18, 0.137);
    border-radius: 8px;
    padding: 10px;
    margin-inline-start: 150px;
     margin-inline-end: 150px;
     background-image: url('../assets/quote-bg.png');
     background-repeat:no-repeat
     
}

.headline{
    margin-inline-start: 150px;
    margin-inline-end: 150px;
}
.work{
    display: flex;
    gap: 30px;
    background: rgba(240, 237, 237, 0.918);
    border-radius: 20px;
    padding: 30px;
}

.satalite-image{
    border-radius: 20px;
}

.satalite-section{
    font: bold;
    font-size: 25px;
}

.donate-heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.donation-content{
    font-size: medium;
    margin-inline-start: 180px;
    margin-inline-end: 170px;
    text-align: center;
}


.button-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

.donation-btn{
    padding:20px 30px;
    background-color: rgba(216, 217, 219, 0.911);
    border: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    }
.donation-btn:hover{
    background-color: rgba(84, 114, 235, 0.911); 
}
.donation-btn1{
        padding:20px 30px;
        background-color: rgba(84, 114, 235, 0.911);
        border: none;
        font-size: 30px;
        font-weight: bold;
        border-radius: 20px;
        }
.donation-btn1:hover{
    background-color: rgb(199, 151, 151);
}


.action-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Subscribe-btn{
    position: relative;
    left: -15px;
    padding: 15px 20px;
    background-color: green;
    border: none;
    border-radius:0  5px 5px 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.Subscribe-btn:hover{
    background-color: rgb(199, 151, 151); 
}

.action-btn{
    padding: 15px 20px;
    background-color: rgba(0, 128, 0, 0.925);
    border: none;
    border-radius: 5px ;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.action-btn:hover{
    background-color: rgb(199, 151, 151);
}

.footer{
    text-align: center;
    }

.Newslater{
    background-color: rgb(163, 228, 206);
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    border-radius: 20px;
    padding: 20px;
}
.Newslater-heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.Newslater-content{
    font-size: medium;
    text-align: center;
    justify-content: center;
    } 

.input-field input{
width: 760px;
height: 50px;
border-radius: 15px;
font-size: 20px;
color: rgba(160, 158, 158, 0.041);
text-align: center;
background-color: rgba(250, 235, 215, 0.63);
border: none;
}
.input-field input:hover{
    background-color: wheat;
}

.Second-input-field input{
    width: 560px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    color: rgba(160, 158, 158, 0.041);
    text-align: center ;
    background-color: rgba(250, 235, 215, 0.63);
    border: none;
    margin-inline-start: 250px;   
}
.Second-input-field input:hover{
    
    filter: drop-shadow(0 0 10px rgb(221, 49, 26));
}

.social-media{
    text-align: center;

}
.social-media .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

