
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
    "width" 100 ;
  }

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    margin: 20px 180px;
}

.nav-title{
    
}
nav ul li{
    list-style: none;
}
.green{
    color: green;
}
.btn-primary{
    
    padding: 15px 25px;
    border-radius: 5px;
    background-color: green;
    
}

.section-title{
    font-size:40px;
    font-weight: bold;
    color: #0E0E0E;
}

/* banner styles */

.banner{
    background-color: #C6E4D6;
    /* background-size: 1280px;  */
    border-radius: 20px;
    display: flex; 
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px;
    
    }
.banner-content{
}
    /* max-width: 1200px; */


.banner-greetings{
    color: #0e0e0e80;
    }

.profile-pic{
height: 400px;
    width:400px;
}

.banner-headline{
    font-size: 50px;
}

/*---about styles -----*/

.about{
     margin-inline-start: 130px;
     margin-inline-end: 130px;
}

/*-----section title----*/

.section-title{
    margin: 50px;
}

/* --- main styles ---*/

.main{
    max-width: 1240px;
    margin: 0 auto;
}

/*  skills section style */

.skill-container{
    display: flex;
    }

.skill{
    margin: 50px;
    padding: 24px;
    box-shadow: 0px 6px 20px 0px burlywood;
    border-radius: 10px;
    
}